<%= form_for(@question_weight) do |f| %>
  <% if @question_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_weight.errors.count, "error") %> prohibited this question_weight from being saved:</h2>

      <ul>
      <% @question_weight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :expert_id %><br>
      <%= f.collection_select :expert_id, Expert.all, :id, :name %>
    </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.collection_select :question_id, Question.all, :id, :text %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.select :weight, (1..10)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
