<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @expert.name %>
</p>

<p>
  <strong>Questions:</strong>
  <ul>
    <% @expert.questions.each do |question| %>
        <li><%= question.text %> </li>
    <% end %>
  </ul>
</p>
<p>
    <div id='chart'></div>
</p>
<%= link_to 'Edit', edit_expert_path(@expert) %> |
<%= link_to 'Back', experts_path %>
<%= render_chart @chart, 'chart' %>

